nbproject
nbproject/*
./nbproject
./nbproject/*
.directory
.vendor/
vendor/*
./vendor/*
.metadata/
metadata/
public/filesUpload/*
./public/filesUpload/*
public/AWA/assets/*
./public/AWA/assets/*
.idea
.metadata
.vscode

